:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
.demo{
    --blue: red;
    height: 100px;
    width: 100px;
    background-color: var(--blue);
}

p{
    color: var(--blue);
}


.div1{
    width: 300px;
    height: 100px;
    background-color: aqua;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.div2{
    width: 300px;
    height: 100px;
    background-color: aqua;
    padding: 50px;
    box-sizing: border-box;
}