/* h1:nth-child(1){
    text-shadow: -2px -2px;
}
h1:nth-child(2){
    text-shadow: 2px 2px red;
}
h1:nth-child(3){
    text-shadow: 2px 2px 5px red;
}
h1:nth-child(4){
    text-shadow: 2px 2px 4px red, -2px -2px 4px green;
} */
/* 
.box{
    height: 400px;
    width: 400px;
    background-color: brown;
    margin: 0 auto;
    box-shadow: 15px 15px 30px green, 10px 10px 20px blue inset;
} */

/* .card{
    width: 250px;
    box-shadow: 0 0 10px;
    text-align: center;
    margin-bottom: 20px;
}
.header{
    background-color: skyblue;
    color: white;
    padding: 10px;
    font-size: 40px;
}

.text{
    padding: 10px;
    font-size: 20px;
}

#card{
    width: 250px;
    box-shadow: 0 0 10px;
    text-align: center;
}
#header img{
    width: 100%;
    height: auto;
}
#text{
    padding: 5px;
    font-size: 18px;
} */

p{
    width: 200px;
    border: 2px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.head1{
    writing-mode: horizontal-tb;
}

.head2{
    writing-mode: vertical-rl;
}