div{
    margin-bottom: 30px;
}

.div1{
    width: 300px;
    height: 200px;
    background-color: red;
    border-radius: 25px;
}
.div2{
    width: 300px;
    height: 200px;
    border: 5px solid salmon;
    border-radius: 25px;
}
.div3{
    width: 400px;
    height: 500px;
    background-image: url(/Wallpaper.jpg);
    border-radius: 25px;
}

.div4{
    width: 300px;
    height: 200px;
    background-color: rgb(184, 139, 139);
    border-radius: 25px 50px 13px 7px;
}
.div5{
    width: 300px;
    height: 200px;
    background-color: rgb(128, 119, 202);
    border-radius: 65px 19px 34px;
}
.div6{
    width: 300px;
    height: 200px;
    background-color: rgb(184, 211, 85);
    border-radius: 25px 60px;
}
.div7{
    width: 300px;
    height: 200px;
    background-color: rgb(17, 148, 98);
    border-radius: 15px/19px;
}


p{
    border: 10px solid green;
    padding: 10px;
    /* border-image-source: url(/imborder.png);
    border-image-slice: 100;
    border-image-width: 30px;
    border-image-outset: 30px;
    background-color: brown;
    border-image-repeat: round; */

    border-image: ;
}