.P1{
    background-color: yellow;
    padding: 10px 5%;
    border: 2px solid black;
    height: 200px;
    width: 90%;
    float: right;
    overflow: auto;
}
   
img{
    float: inherit;
    padding: 10px;
}

p{
    display: inline;
}