*{
    box-sizing: border-box;
}

.Form_design{
    background-color: aliceblue;
    padding: 30px;
    overflow: hidden;
}

.Form_design input, select{
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 12px;
}
.Form_design input:focus{
    outline: 1px solid #04aa6d;
}
.Form_design textarea{
    height: 200px;
    width: 100%;
    border-radius: 3px;
    padding: 12px;
    resize: vertical;
}
.Form_design textarea:focus{
    outline: 1px solid #04aa6d;
}
input[type=button]{
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

}
input[type=button]:hover{
    background-color: #45a049;
}
