.banner{
    background-color: grey;
    width: 100%;
    height: 300px;
    /* background-image: url(/image1.png), url(/Wallpaper.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 20%, cover; */
    border-radius: 50%;
    background-image: conic-gradient( red, yellow , green)
}