.container{
    background-color: lightgray;
    border: 6px solid black;
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-areas: 
        'header header'
        'main aside'
        'footer footer'; */

    justify-content: ;
    align-content: ;
}

.items{
    background-color: lightcyan;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

/* .items:nth-child(1){
    grid-row: 1/3;
    grid-column: 1/4;
}

.items:nth-child(2){
    grid-area: 1/4/3/7;
    border: 2px solid black;
    z-index: 1;
}

.items:nth-child(3){
    grid-area: 3/1/7/7;
} */

/* .items:nth-child(1){
    grid-area: header;
}

.items:nth-child(2){
    grid-area: main;
}
.items:nth-child(3){
    grid-area: aside;
}
.items:nth-child(4){
    grid-area: footer;
} */

/* .items:nth-child(1){
    justify-self: center;
    align-self: stretch;
} */