.container{

}

.container div{
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 3px;
    font-size: 7rem;
}

.item1{
    background-color: blueviolet;
}
.item2{
    background-color: rgb(105, 126, 49);
}
.item3{
    background-color: rgb(151, 147, 151);
}
.item4{
    background-color: rgb(241, 115, 106);
}


.container{
    height: 700px;
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: center   ;*/
/* 
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
} */

.item3{
    /* flex-shrink: 0; */

    /* flex: 1; */
    /* align-self: baseline; */

    order: ;
}