ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    /* overflow: hidden; */
}

li{
    /* float: left; */
    display: inline-block;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}

.active{
    background-color: rgba(134, 180, 134, 0.2);
}

.DD{
    display: inline-block;
    position: relative;
}

.DD button{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    padding: 16px;
}

.DDC{
    display: none;
    position: absolute;
    z-index: 1;
}

.DD:hover .DDC{
    display: block;
}

.DDC a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
}

.DDC a:hover{
    background-color: #ddd;
}